*.log
*.pot
*.pyc
__pycache__/

staticfiles/

media/

venv/
venv*/
*.env

*.bak
*.swp
*~

db.sqlite3
*.sqlite3
*.db

**/migrations/

local_settings.py

pip-log.txt
pip-delete-this-directory.txt

uploads/images/*.jpg
uploads/images/*.jpeg
uploads/images/*.png

uploads/users/*.jpg
uploads/users/*.jpeg
uploads/users/*.png